.logo {
    height: 3em;
    padding: 1.5em;
    will-change: filter;
}
.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    .logo.react {
        animation: logo-spin infinite 20s linear;
    }
}

.Header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Header-title {
    font-size: 48px;
}